@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('./fonts/Helvetica-Bold.ttf') format('truetype');
}


* {
    font-family: 'Helvetica';
}

.box_1 {
    @apply w-fit h-fit bg-[#F8FAFC] border-black border-[2px] rounded-md shadow-[6px_6px_0px_rgba(0,0,0,1)];
}

.box_2 {
    @apply rounded-lg bg-[#F8FAFC] border-black border-[2px] hover:shadow-xl shadow-black transition-all duration-200 ease-in-out;
}

.btn {
    @apply rounded-md border-black border-[2px] hover:shadow-[3px_3px_0px_rgba(0,0,0,1)] hover:-translate-x-[3px] hover:-translate-y-[3px] transition-all duration-200 ease-in-out;
}

.btn_2 {
    @apply w-[100px] h-[40px] rounded-md border-black border-[2px] transition-all duration-200 ease-in-out;
}

.focused {
    @apply shadow-[3px_3px_0px_rgba(0,0,0,1)] -translate-x-[3px] -translate-y-[3px];
}

.taskLi {
    @apply flex flex-row gap-2 w-[150px] sm:w-[175px] justify-between text-black rounded-md border-black border-[2px] px-2 py-1;
}

.taskText {
    @apply w-[150px] break-words text-start;
}

.lineThrough {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}