<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <script src="https://kit.fontawesome.com/385cd213ed.js" crossorigin="anonymous"></script>

    <title id="title">Pomodoro Timer</title>
</head>
<body class="bg-[#F8FAFC]">
    <header class=" h-[50px] flex flex-row items-center px-[50px] z-30 fixed top-0 w-full bg-white/55 backdrop-blur-sm">
        <div class="flex flex-row justify-between content-center w-full">
            <h1 class="font-[Helvetica-Bold] text-[28px]">Pomodoro</h1>
            <button id="settingBtn" class="flex flex-row gap-2 ml-auto cursor-pointer justify-center btn px-4 items-center" onclick="openSetting()">
                <p>Setting</p>
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </header>
    <main class=" flex items-center justify-start flex-col gap-3 w-full h-screen mt-[60px]">
        <div class="flex flex-row gap-3 p-4 w-fit box_2" id="focused_btn">
            <button id="pomodoroBtn" class="btn_2" onclick="pomodoro()" >Pomodoro</button>
            <button id="shortRestBtn" class="btn_2" onclick="shortBreak()">Short Rest</button>
            <button id="longRestBtn" class="btn_2" onclick="longBreak()" >Long Rest</button>
        </div>
        <div class="flex flex-col sm:flex-row gap-3 justify-center items-center">
            <div class="flex flex-col items-center">
                <div class="flex flex-col place-items-center box_1 py-2 px-5">
                    <h1 id="status" class="text-[35px] font-semibold">Pomodoro</h1>
                    <img id="imageTimer" src="./style/images/gura-work.gif" alt="">
                    <h1 id="time" class="text-[100px] font-bold">25:00</h1>
                    <div class="flex flex-row gap-3 p-2">
                        <button id="pause" class="btn w-[100px] h-[40px]" onclick="pausePomodoro()">Start</button>
                        <button class="btn w-[100px] h-[40px]" onclick="resetPomodoro()">Reset</button> 
                    </div>
                </div>
            </div>
            <div class="flex flex-col sm:h-[285px] h-[300px] w-[300px] sm:w-fit gap-2 p-4 box_1 rounded-md">
                <input type="text" id="task" class="input p-1 rounded-md outline-none border-black border-[2px]" placeholder="Add your task here">
                <div class="flex flex-row gap-2 w-full">
                    <button class="btn py-[3px] basis-3/4" onclick="addTask()">Add Task</button>
                    <button class="btn py-[3px] basis-1/4 bg-red-500" onclick="deleteTask()"><i class="fa-solid fa-trash text-white"></i></button>
                </div>
    
                <ul id="taskList" class="list-disc list-inside text-white grid grid-cols-2 gap-2 overflow-auto">
                </ul>
            </div>
        </div>
    </main>
    <div id="settingModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 justify-center items-center">
        <div class="bg-white p-6 w-1/3 border-black border-[2px] rounded-md shadow-[6px_6px_0px_rgba(0,0,0,1)]">
            <h2 class="text-xl font-bold mb-4">Settings</h2>
            <div class="mb-4">
                <label for="interval" class="block text-sm font-medium text-gray-700">Pomodoro interval</label>
                <input type="number" id="pomodoroInterval" class="mt-1 p-2 border-black border-[2px] rounded-md w-full" min="1" value="2">
            </div>
            <div class="mb-4">
                <label for="pomodoroDuration" class="block text-sm font-medium text-gray-700">Pomodoro Duration (minutes)</label>
                <input type="number" id="pomodoroDuration" class="mt-1 p-2 border-black border-[2px] rounded-md w-full" min="1" value="25">
            </div>
            <div class="mb-4">
                <label for="shortBreakDuration" class="block text-sm font-medium text-gray-700">Short Break Duration (minutes)</label>
                <input type="number" id="shortBreakDuration" class="mt-1 p-2 border-black border-[2px] rounded-md w-full" min="1" value="5">
            </div>
            <div class="mb-4">
                <label for="longBreakDuration" class="block text-sm font-medium text-gray-700">Long Break Duration (minutes)</label>
                <input type="number" id="longBreakDuration" class="mt-1 p-2 border-black border-[2px] rounded-md w-full" min="1" value="15">
            </div>
            <div class="flex justify-end gap-2">
                <button class="btn p-2 bg-red-500 text-white rounded-md" onclick="closeSetting()">Cancel</button>
                <button class="btn p-2 bg-blue-500 text-white rounded-md" id="saveSettings">Save</button>
            </div>
        </div>
    </div>
    <div class="absolute rounded-md top-4 right-4 p-3 bg-slate-500 transition-all duration-500 ease-in-out" id="notificationPermission">
        <p class="text-white pb-2">Please allow notification for this web</p>
        <button class="btn p-2" onclick="askNotificationPermission()">Ask permission</button>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>